@model Institute_Management_System.InstructorViewModel

@{
    ViewBag.Title = "Index";
}

<section class="home_banner_area blog_banner">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="blog_b_text text-center">
                <h2>Institute Management System <br /> Instructor Dashboard</h2>
                <p>Instructor can manage questions with respect to courses and evaluate questions </p>

            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/img/blog/cat-post/student.jpg" alt="post" style="width:506px;height:220px">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="addquestions"><h5>Add Questions</h5></a>

                            <div class="border_line"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/img/blog/cat-post/student.jpg" alt="post" style="width:506px;height:220px">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="AddAssessment"><h5>Add Assessment</h5></a>

                            <div class="border_line"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/img/blog/cat-post/student.jpg" alt="post" style="width:506px;height:220px">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="ViewAssessment"><h5>View Assessment</h5></a>

                            <div class="border_line"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/img/blog/cat-post/instructor.jpg" alt="post" style="width:506px;height:220px">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="Result.html"><h5>View Result</h5></a>
                            <div class="border_line"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/img/blog/cat-post/view instructor.jpg" alt="post" style="width:506px;height:220px">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="viewstudentspage.html"><h5>View Students According to Courses</h5></a>
                            <div class="border_line"></div>

                        </div>
                    </div>
                </div>
            </div>









        </div>
    </div>
</section>

