@model Institute_Management_System.Models.StudentViewModel

@{
    ViewBag.Title = "DeleteStudent";
}
<br />
<br />
<br />
<br />
@using (Html.BeginForm("DeleteStudent", "Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   


    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
}
