
@{
    ViewBag.Title = "coursecrud";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Courses</h2>

            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<div class="center" style="margin-top: 100px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Update</th>
                <th>Delete</th>
                <th>Id no.</th>
                <th>Instructor</th>
                <th>Course</th>
                <th>Course Duration</th>
                <th>Start Date</th>
                <th>Course Fee</th>


            </tr>
        </thead>
        <tbody>
            <tr>

                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px;margin-right: -50px"> Update </a></td>
                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Delete </a></td>
            </tr>
            <tr>


                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Update </a></td>
                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Delete </a></td>
            </tr>
            <tr>

                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Update </a></td>
                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Delete </a></td>
            </tr>
            <tr>

                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Update </a></td>
                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Delete </a></td>
            </tr>
            <tr>

                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Update </a></td>
                <td><a href="#" class="btn btn-info" role="button" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px"> Delete </a></td>
            </tr>

        </tbody>
    </table>
</div>



